Q1 . Write the program to accept percentage from the user and display the grade acording to the following criteriya ?

In [ ]:
marks = int(input("Type Marks"))
if marks  >90:
    print("A")
elif marks >80 and marks <= 90:
    print("B")
elif marks >=60 and marks <=80:
    print("C")
else:
    print("D")

Q2 . Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria ?

In [33]:
price = int(input("Enter Bike Amount"))
if price >100000:
    print("15%")
elif price  >50000 and cost_price <=100000:
    print("10%")
elif price  <= 50000:
    print("5%")

Enter Bike Amount 50000

5%

Q3 . Accept any city from the users and display Monument of the city ?

In [9]:
city = input("Type city")
if city == "Delhi":
    print("Red Fort")
elif city == "Aagra":
    print("Taj Mahal")
elif city == "Jaipur":
    print("Jal Mahal")

Type city Aagra

Taj Mahal

Q4 . Check how many times given number can be divided by 3 before it is less than or equal to 10 ?

In [34]:
num = int(input("Enter a number: "))
count = 0

while num > 10:
    num = num / 3
    count += 1

print("The number can be divided by 3", count, "times before it is less than or equal to 10.")

Enter a number:  14

The number can be divided by 3 1 times before it is less than or equal to 10.

Q5 . check how many times given number can be divided by 3 before it is equal to and less than 10?

In [7]:
num = 81  # replace with the number you want to check
count = 0

while num >= 10:
    num = num / 3
    count += 1

print(count)

2

Q5 . why and when to use while loop in python give a detailed description with example ?

A while loop in Python is used to repeatedly execute a block of code while a certain condition is true. The loop continues to run as long as the condition remains true. 
Once the condition becomes false, the loop terminates and the code execution continues from the next statement after the loop.

In [10]:
#EX:
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

Q6 .Use a nested while loop to print 3 different pattern  ?

In [11]:
# Squre Pattern
n = 5
i = 0

while i < n:
    j = 0
    while j < n:
        print("*", end=" ")
        j += 1
    print()
    i += 1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [12]:
# Tringle pattern
n = 5
i = 1

while i <= n:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

In [13]:
# Dimond pattern
n = 5
i = 1

while i <= n:
    j = 1
    while j <= (n-i):
        print(" ", end="")
        j += 1
    j = 1
    while j <= (2*i-1):
        print("*", end="")
        j += 1
    print()
    i += 1

i = n-1
while i >= 1:
    j = 1
    while j <= (n-i):
        print(" ", end="")
        j += 1
    j = 1
    while j <= (2*i-1):
        print("*", end="")
        j += 1
    print()
    i -= 1

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

Q7 . Reverce a while loop to display numbers from 10 to 1 ?

Q8 .Reverce a while loop to display numbers 10 to 1 ?